.loader {
	padding: 10px 0;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: var(--gray-500);
}

.empty {
	padding: 10px 0;
	width: 100%;
	min-height: 52px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: var(--gray-500);
}
